.bodyContainer {
  display: flex;
  justify-content: space-evenly;
}
button {
  height: 2rem;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
  margin-bottom: 3px;
}
.content {
  border: 1px solid black;
}
